{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Reset Password
            
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'general:home' %}">Home</a>
            </li>
            <li><a href="{% url 'auth_login' %}">Login</a>
            </li>
            <li class="active">Reset Password</li>
        </ol>
    </div>
</div>

<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
	<div class="panel panel-default text-center">
	    		<div class="panel-heading">
	                <h3 class="panel-title">Reset Password</h3>
	            </div>
	            <div class="panel-body">
					<p>
					    {% blocktrans %}
					    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
					    {% endblocktrans %}
					</p>
					<form method="post" action="">
					    {% csrf_token %}
					    {{ form.as_p }}
					    <input type="submit" value="{% trans 'Reset password' %}" />
					</form>
				</div>
	</div>
	</div>
	<div class="col-md-4">
	</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}