{% extends 'faculty/corner-base.html' %}
{% load staticfiles %}
{% block content1 %}
<!-- Block Content -->
<div class="col-md-4">
	<div class="panel panel-default">
        <div class="panel-heading">
            <center><h4> Question Paper</h4></center>
        </div>
        <div class="panel-body">
            
            {% if question_paper_list %}
            

                {% for question_paper in question_paper_list %}
                <span class='glyphicon glyphicon-hourglass' ></span>
                <a href="{{question_paper.Link}}" target="_blank">{{ question_paper.Title }} </a></br>
                {% endfor %}
            
            {% else %}
                <p>No Qusetion Paper are available.</p>
            {% endif %}

        </div>
    </div>
    <section id="portfolio" class="bg-light-gray">
       <div class="col-md-4 col-sm-6 portfolio-item">
            <a id='question_paper' class="btn btn-primary" href="#questionpaper" class="portfolio-link" data-toggle="modal">Add</a>
        </div>
    </section>
</div>
<div class="col-md-4">
	<div class="panel panel-default">
        <div class="panel-heading">
            <center><h4> Book</h4></center>
        </div>
        <div class="panel-body">
            
            {% if book_list %}
            

                {% for book in book_list %}
                <span class='glyphicon glyphicon-book' ></span>
                <a id='book' href="{{book.Link}}" target="_blank">{{ book.Title }} </a></br>
                {% endfor %}
            
            {% else %}
                <p>No Books are available.</p>
            {% endif %}

        </div>
    </div>
    <section id="portfolio" class="bg-light-gray">
       <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="btn btn-primary" href="#book" class="portfolio-link" data-toggle="modal">Add</a>
        </div>
    </section>
</div>
<div class="col-md-4">
	<div class="panel panel-default">
        <div class="panel-heading">
            <center><h4> Link</h4></center>
        </div>
        <div class="panel-body">
            
            {% if link_list %}
            

                {% for link in link_list %}
                <span class='glyphicon glyphicon-link' ></span>
                <a id='link' href="{{link.Link}}" target="_blank">{{ link.Title }} </a></br>
                {% endfor %}
            
            {% else %}
                <p>No Links are available.</p>
            {% endif %}

        </div>
    </div>
    <section id="portfolio" class="bg-light-gray">
       <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="btn btn-primary" href="#link" class="portfolio-link" data-toggle="modal">Add</a>
        </div>
    </section>
</div>


<!-- the hidden block of add buttons -->



<div class="portfolio-modal modal fade" id="link" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <form method="post">
                                {% csrf_token %}
                               {{ link_form.as_p}}
                               <input type="submit" name = "link" value="Add Link" class="submit btn btn-primary" />
                            </form>
                            <br>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="portfolio-modal modal fade" id="book" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                               {{ book_form.as_p}}
                               <input type="submit" name="book" value="Add Book" class="submit btn btn-primary" />
                            </form>
                            <br>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="portfolio-modal modal fade" id="questionpaper" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                               {{ question_paper_form.as_p}}
                               <input type="submit" name="question_paper" value="Add Question Paper" class="submit btn btn-primary" />
                            </form>
                            <br>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="{% static 'general/agency/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'general/agency/js/classie.js' %}"></script>
    <script src="{% static 'general/agency/js/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'general/agency/js/jqBootstrapValidation.js' %}"></script>
    

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'general/agency/js/agency.js' %}"></script>
{% endblock %}