{% extends 'students/corner-base.html' %}
{% load staticfiles %}
{% block content1 %}
<!-- Block Content -->
<!--div class="row">
            
  hello {{user.username}} - {{user.first_name}}  {{user.last_name}} <br>
  D/O : {{user.profile.Father_Name}}    <br>
  Batch : {{user.profile.Batch.Slot}}
<ul>
         <li>Time-Table and Announcements</li>
			<li class=""> Email</li>
			<li class=""> Exam Schedule</li>
			<li> Result</li>
			
        </ul>


</div-->   
<link rel="stylesheet" type="text/css" media="all" href="{% static 'general/mb/css/daterangepicker.css' %} " />


<script language="JavaScript" type="text/javascript" src="{% static 'general/mb/js/jquery.min.js' %}"></script>



<script type="text/javascript" src="{% static 'general/mb/js/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'general/mb/js/daterangepicker.js' %}"></script>
<div class="row">
<div class="col-md-8">
	<table class="table table-striped">
	    <thead>
	      <tr>
	      	<th></th>
	      	{% for time in user.profile.Batch.Slot.time_slot_set.all %}
	        	<th>{{time}}</th>
	        {% endfor %}
	      </tr>
	    </thead>
	    <tbody>
	    	
	      <tr>
	        <th>Monday</th>
	        {% for item in monday %}
	        	<td>{{ item }}</td>	
	        {% endfor %}
	      </tr>
	      
	      <tr>
	        <th>Tuesday</th> 
	        {% for item in tuesday %}
	        	<td>{{ item }}</td>	
	        {% endfor %}
	        
	      </tr>
	      <tr>
	        <th>Wednesday</th>
	        {% for item in wednessday %}
	        	<td>{{ item }}</td>	
	        {% endfor %}
	      </tr>
	      <tr>
	        <th>Thursday</th> 
	        {% for item in thursday %}
	        	<td>{{ item }}</td>	
	        {% endfor %}
	      </tr>
	      <tr>
	        <th>Friday</th> 
	        {% for item in friday %}
	        	<td>{{ item }}</td>	
	        {% endfor %}
	      </tr>
	      <tr>
	        <th>Saturday</th>
	        
	        {% for item in saturday %}
				<td>{{ item }}</td>	
	        {% endfor %}
	      </tr>
	    
	    </tbody>
	</table>  
</div>

<div class="col-md-4">
	<div class="panel panel-default">
        <div class="panel-heading">
            <center><h4> Notice & Announcements</h4></center>
        </div>
        <div class="panel-body">
            
           
                    <!-- <div class="input-group">
                        <form action="" method="get"> -->
                        
							<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
							    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
							    <span></span> <b class="caret"></b>
							</div>
							<hr>

               <div id = "notification">
                <ul>
					{% for notification in notification_list %}
						<span class='glyphicon glyphicon-pushpin' ></span>
						<a href="{{notification.Link}}" target="_blank">{{ notification.Title }} </a></br>
					{% endfor %}
					{% for news in news_list %}
					    <span class = 'glyphicon glyphicon-download-alt'></span>
					    <a href="../../media/{{news.Docfile}}" target="_blank">{{news.Title}} </a></br>
					{% endfor %}
                </ul>
                </div>

        </div>
    </div>
</div>
</div>

<script type="text/javascript">
$(function() {

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMM D, YYYY') + '-' + end.format('MMM D, YYYY'));
    }
    cb(moment().subtract(29, 'days'), moment());

    $('#reportrange').daterangepicker({
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    },function(start, end, label) {
    	$('#reportrange span').html(start.format('MMM D, YYYY') + '-' + end.format('MMM D, YYYY'));
    	// var drp = $('#reportrange').data('daterangepicker');
    	// alert(drp)
    	$.ajax({
            url: "/notice/?start="+start.format('YYYY-MM-DD')+"&end="+end.format('YYYY-MM-DD'),
            data: {
                txtsearch: $('#reportrange').val()
            },
            type: "GET",
            dataType : "html",
            success: function( data ) {
                $('#notification').replaceWith($('#notification').html(data));
            },
            error: function( xhr, status ) {
            alert( "Sorry, there was a problem!" );
            },
            complete: function( xhr, status ) {
                //$('#showresults').slideDown('slow')
            }
            });
    	
	});


});




</script>

{% endblock %}

