{% extends "general/base.html" %}

<div class="container">
	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">Register
	            
	        </h1>
	        <ol class="breadcrumb">
	            <li><a href="{% url 'general:home' %}">Home</a>
	            </li>
	            <li class="active">Register</li>
	        </ol>
	    </div>
	</div>


	<!-- Form Tabs -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Service Tabs</h2>
            </div>
            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-tree"></i> Service One</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-car"></i> Service Two</a>
                    </li>
                    
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                        Student
                        {{form}}
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        Faculty
                         {{form}}
                    </div>
                  
                </div>

            </div>
        </div>
         
</div>

         


<!--div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    	<div class="panel panel-default text-center">
    		<div class="panel-heading">
                <h3 class="panel-title">Register</h3>
            </div>
            <div class="panel-body">
					
					<form action='' method="post">{% csrf_token %}
					{{ form|linebreaks }}<br>
					 <input type="submit" value="Register" />
					 </form>
			</div>
		</div>
	</div>
</div-->



		<!-- Form Tabs -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Service Tabs</h2>
            </div>
            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-tree"></i> Service One</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-car"></i> Service Two</a>
                    </li>
                    
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                        Student
                        {{form}}
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        Faculty
                         {{form}}
                    </div>
                  
                </div>

            </div>
        </div>
{% block content %}
<h1> Student Registration Form </h1>
<table class="table table-striped">
	
	<tbody>
		<tr>
			<td>Full Name</td>
			<td><input></td>
		</tr>
		<tr>
			<td>Email Address</td>
			<td><input></td>
		</tr>
	{%for field in form %}
		<tr>
		<td>{{ field.label }}</td>
		<td>{{field}}</td>
		</tr>
	{%endfor%}
	</tbody> 
	
</table>
<input type="submit" value="Register"/>
{%endblock%} 