<!DOCTYPE html>
{% extends "general/base.html" %}


{% load staticfiles %}

{% block title %}COLLEGE|DYNAMIC{% endblock %}

    

<body>
{% block content %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'general/mb/css/daterangepicker.css' %} " />

<!-- it works the same with all jquery version from 1.x to 2.x -->

    <script type="text/javascript" src="{% static 'general/mb/js/jquery-1.9.1.min.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'general/mb/js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'general/mb/js/daterangepicker.js' %}"></script>



    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url({% static 'general/mb/slider/img-1.jpg' %});"></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url({% static 'general/mb/slider/img-2.jpg' %});"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url({% static 'general/mb/slider/img-3.jpg' %});"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

<marquee direction="right"  class="navbar-inverse" onmouseover="this.stop();" onmouseout="this.start();">
    <ul class="list-inline">
        {% for news in news_list %}
            <li type="square"><a href="{{notification.Link}}" target="_blank" style="color : #CCC; font-size : 18px" onMouseOver="this.style.color='#FFF'"
   onMouseOut="this.style.color='#CCC'">** {{ news.Title }} </a> </li>
        {% endfor %}
        {% for notification in notification_list %}
            <li type="square"><a href="{{notification.Link}}" target="_blank" style="color : #CCC; font-size : 18px" onMouseOver="this.style.color='#FFF'"
   onMouseOut="this.style.color='#CCC'">  ** {{ notification.Title }} </a></li>
        {% endfor %}
    </ul>    
</marquee>
    <!-- Page Content -->
     <div class="container">


        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">

                <h1 ><!--class="page-header"-->
                    Welcome to College
                </h1>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="glyphicon glyphicon-bullhorn"></i>  This Month's Notification </h4>
                    </div>
                    <div class="panel-body">
                        
                       
                                <!-- <div class="input-group">
                                    <form action="" method="get"> -->
                                    
                                        
                                        
                                        
                           <div id = "news">
                            <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                                {% for news in news_list %}
                                    <span class='glyphicon glyphicon-download-alt' ></span>
                                    <a href="{{news.Link}}" target="_blank">{{ news.Title }} </a></br>
                                {% endfor %}
                            </marquee>
                            </div>

                    </div>
                </div>
            </div>
             <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="glyphicon glyphicon-bullhorn"></i>  Notification </h4>
                    </div>
                    <div class="panel-body">
                        
                       
                                <!-- <div class="input-group">
                                    <form action="" method="get"> -->
                                    
                                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                            <span></span> <b class="caret" align="right"></b>
                                        </div>
                                        <hr>
                                        
                           <div id = "notification">
                            <ul>
                                {% for notification in notification_list %}
                                    <span class='glyphicon glyphicon-pushpin' ></span>
                                    <a href="{{notification.Link}}" target="_blank">{{ notification.Title }} </a></br>
                                {% endfor %}
                            </ul>
                            </div>

                    </div>
                </div>
            </div>
            
        </div>
        <!-- /.row -->

        
<script type="text/javascript">
$(function() {

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMM D, YYYY') + '-' + end.format('MMM D, YYYY'));
    }
    cb(moment().subtract(29, 'days'), moment());

    $('#reportrange').daterangepicker({
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    },function(start, end, label) {
        $('#reportrange span').html(start.format('MMM D, YYYY') + '-' + end.format('MMM D, YYYY'));
        // var drp = $('#reportrange').data('daterangepicker');
        // alert(drp)
        $.ajax({
            url: "/notification/?start="+start.format('YYYY-MM-DD')+"&end="+end.format('YYYY-MM-DD'),
            data: {
                txtsearch: $('#reportrange').val()
            },
            type: "GET",
            dataType : "html",
            success: function( data ) {
                $('#notification').replaceWith($('#notification').html(data));
            },
            error: function( xhr, status ) {
            alert( "Sorry, there was a problem!" );
            },
            complete: function( xhr, status ) {
                //$('#showresults').slideDown('slow')
            }
            });
        
    });


});




</script>
<script type="text/javascript">
$(function() {

    function cb(start, end) {
        $('#newsreportrange span').html(start.format('MMM D, YYYY') + '-' + end.format('MMM D, YYYY'));
    }
    cb(moment().subtract(29, 'days'), moment());

    $('#newsreportrange').daterangepicker({
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    },function(start, end, label) {
        $('#newsreportrange span').html(start.format('MMM D, YYYY') + '-' + end.format('MMM D, YYYY'));
        // var drp = $('#reportrange').data('daterangepicker');
        // alert(drp)
        $.ajax({
            url: "/news/?start="+start.format('YYYY-MM-DD')+"&end="+end.format('YYYY-MM-DD'),
            data: {
                txtsearch: $('#reportrange').val()
            },
            type: "GET",
            dataType : "html",
            success: function( data ) {
                $('#news').replaceWith($('#news').html(data));
            },
            error: function( xhr, status ) {
            alert( "Sorry, there was a problem!" );
            },
            complete: function( xhr, status ) {
                //$('#showresults').slideDown('slow')
            }
            });
        
    });


});




</script>




    <!-- jQuery -->
    

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'general/mb/js/bootstrap.min.js' %}"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

{% endblock %}
</body>
</html> 


        


