{% extends accountbase %}

{% load staticfiles %}
{% block content1 %}
<script type="text/javascript" src="{% static 'general/mb/js/jquery.min.js'%}"></script>
<script type="text/javascript" src="{% static 'jqchat/jqchat.js' %}"></script>

<script type="text/javascript">
	$(document).ready(function(){
		InitChatWindow("{% url 'jqchat_ajax' room.id %}", null);
	});
</script>



<div id="chat_left_col">
	<h1>Test Chat Client</h1>
	
	<p>This is a demo of the <a href="http://code.google.com/p/django-jqchat/">
	django-jqchat chat client</a>.</p>
	<p>This page shows the basic client. For an example of how to extend it,
	<a href="{% url 'jqchat_test_window_with_description' room.id %}">see here</a>.</p>
	<p>There are 2 rooms in this demo,
	<a href="{% url 'jqchat_test_window' 1 %}">here</a> and 
	<a href="{% url 'jqchat_test_window' 2 %}">here</a>.</p>
</div>

<h2>Room name: {{ room }}</h2>

{% include 'jqchat/_chat_form.html' %}

<style type="text/css">
	/* Example styling for the chat window */
   #chatwindow {
     height: 250px;
     width: 400px;
     border: 1px solid;
     padding: 5px;
     margin: 10px 0;
     overflow: auto;
     background-color: white;
   }
</style>

<script type="text/javascript">document.getElementById("msg").focus();</script>


{% endblock %}